.axis {
  font-size: small;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis {
  display: none;
}
.y.axis g { /* text for y axis labels */
  fill: #808080;
}
.rounds.axis line {
  stroke: #808080;
}
body {
  font-family: Tahoma;
}

/* The crazy selection below is to hide the 
 * first vertical grid line, because that 
 * gridline appears a couple pixels next to the 
 * y axis instead of being blended with it.
 * That gridline is really meant to be a tick mark 
 * for a bar, but I'm hacking that system to make 
 * the 'Rounds'
 */
g[transform='translate(3,0)'] > line[x2="0"]{
  visibility: hidden;
}
g[transform='translate(600,0)'] > text {
  visibility: hidden;
}
.big-wrapper {
  width: 75%;
  margin: 0px auto; 
}
.graph-title {
  text-align: center;
}
svg {
  display: block;
  margin: 0px auto;
}
.bar {
  fill: #990000;
}
hr {
  opacity: .50;
}
.references {
  color: #808080;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  /* width: 60px; */
  width: auto; 
  /* height: 28px; */
  height: auto; 
  /* padding: 2px; */
  padding: 5px; 
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  /* border-radius: 8px; */
  pointer-events: none;         
}
